<nav class="unslate_co--site-nav site-nav-target">

    <div class="container">
    
      <div class="row align-items-center justify-content-between text-left">

        <div class="col-3">
          <div class="site-logo">
            <!-- <a href="index-right-menu.html" class="unslate_co--site-logo">Unfold<span>.</span></a> -->
            <a href="#">
              <img src="/front/images/logo/light.png" alt="Asyncrode" srcset="" style="height: 90px;">
            </a>
          </div>
        </div>
        <div class="col text-right">
          <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
            <li class="has-children">
            <a href="beranda.html" class="nav-link">Home</a>
            </li>
            <li class="has-children">
                <a href="tentang.html" class="nav-link">Tentang</a>
            </li>
            <li><a href="layanan.html" class="nav-link">Layanan</a></li>
            <li><a href="portofolio.html" class="nav-link">Portfolio</a></li>
            <li><a href="blog.html" class="nav-link">Blog</a></li>
            <li><a href="#contact-section" class="nav-link">Contact</a></li>
          </ul>

          <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
            <li><a href="#" class="js-menu-toggle">Menu</a></li>
          </ul>
        </div>
        
      </div>
    </div>

  </nav>
  <!-- END nav -->