<footer class="unslate_co--footer unslate_co--section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          
          <div class="footer-site-logo"><a href="#">Unfold<span>.</span></a></div>

          <ul class="footer-site-social">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Dribbble</a></li>
            <li><a href="#">Behance</a></li>
          </ul>

          <p class="site-copyright">
            <small>&copy; 2020 <a href="#">Unfold</a>. All Rights Reserved. Design with <span class="icon-heart text-danger"></span> by <a href="#">Unslate.co</a>.</small>
          </p>

        </div>
      </div>
    </div>
  </footer>